SQLAlchemy[asyncio]~=2.0.52
python-dotenv~=1.2.3
aiofiles~=25.1.0
asyncmy~=0.2.14
aiohttp~=3.14.3
aiomysql~=0.3.2
python-telegram-bot[ext]~=20.6
pillow~=12.3.0
pixivpy3~=3.7.4
singleton-class-decorator~=1.0.1
b2sdk~=1.27.0
nest_asyncio~=1.5.8